@font-face {
    font-family: MasterFont;
    src: url('../fonts/OpenSans-VariableFont_wdth-wght.ttf') format('truetype');
    font-weight: 100 900;  /* variable font supports multiple weights */
    font-style: normal;
}

body {
    font-family: 'MasterFont', sans-serif;
    font-weight: 400;  /* default weight */
}